  .navbar {
    padding: 1rem 0;
    color: white;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  .menu {
    display: flex;
    gap: 1rem;
  }
  .menu a {
    color: white;
    text-decoration: none;
  }
  .toggle {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    display: none;
  }



  footer{
    padding: 30px 0;
    background: #000;
  }

  .socials{
    display: flex;
    gap: 1.5rem;
  }

  .icons{
    width: 1.2rem;
  }

  .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    margin-bottom: 1.8rem;
  }

  .cpyRight{
    font-size: .9rem;
    color: hsl(240, 1%, 65%);
  }

  .footer-right h1{
    font-size: 1.2rem;
  }

  .location{
    margin: 1.2rem 0;
  }

  @media (max-width: 710px) {
    .imagesAlt{
        display: none;
    }
}